*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: aliceblue;
}

#app{
    width: 800px;
    height: 500px;
    overflow: hidden; /*넘치는 것을 가려 줌*/
} /*#은 id를 의미*/
.slider{
    display: flex;
    width: 100%; /*app이란 부모가 가지고 있는 size 100%를 가지고 옴 > app의 사이즈*/
    height: 100%;
    transform: translateX(0px);
    transition: all 1s linear;
} /*.은 clss를 의미*/
.slider-item{
    flex: 1 0 auto; /*꽉 차는 거 좋음, 줄어들지는 말고, 사이즈는 자동으로*/
    width: 100%;
    background-color: skyblue;
    font-size: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-item:nth-child(2){
    background-color: aquamarine;
}
.slider-item:nth-child(3){
    background-color: mediumaquamarine;
}
.slider-item:nth-child(4){
    background-color: darkblue;
}
button{
    background-color: lightgray;
    border: 0;
    padding: 12px 16px;
    cursor: pointer;
} /*아무것도 안 붙어 있으면 tag*/