*{
    margin: 0;
    padding: 0; /*밀어내는*/
    box-sizing: border-box;
}
.container {
    display: flex;
    gap: 1rem; /*이미지 사이 여백*/
    padding: 1rem; /*뷰어 여백*/
}
figure{
    display: flex;
    flex: 1 1 0;
    height: 700px; /*화면에 나타나는 사진의 높이*/
    align-items: center;
    overflow: hidden;/*15-17은 빈틈 제거*/
    border-radius: 100px;/*이미지를 동그랗게*/
    cursor: pointer;/*마우스 커서를 올리면 커서가 포인터로 변경*/
    transition: all 200ms ease;/*애니메이션 효과가 부드럽게 나타나도록 (0.2초)*/
}
figure.active{
    flex: 5 1 0;
}
figure.active img{
    filter: blur(0px);
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(100px);
}