*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

video{
    width: 100%;
    height: 100%;
    /* aspect-ratio: auto; */
    object-fit: cover;
}

.youtube{
    aspect-ratio: 16/9;
}

.youtube iframe{
    width: 100%;
    height: 100%;
}


figure{    
    overflow: hidden;
    position: relative;
    /* width:100vw;
    height: 100vh; */
    aspect-ratio: 3/2;
}
figure::before{
    width: 100%;
    height: 30%;
    content:'';
    position: absolute;
    bottom:0;
    left:0;
    /* background:linear-gradient(0deg,red,transparent) */
    /* background:linear-gradient(0deg,#000000,transparent); */
}