@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*전역변수 지정시 필요*/
    --color: rgb(0, 57, 157);
    --backgroundcolor: rgb(18, 135, 252);
}

body {
    font-family: 'Roboto Condensed', 'Nanum Gothic';
    width: 100%;
    height: 100%;
    background-color: white;
    overflow-x: hidden;
    /*스크롤바 없애기*/
    /* overflow-y: hidden; */
}

#mainpage {
    background-image: linear-gradient(180deg, rgb(18, 135, 252), transparent);
}

#setup {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 1rem;
    font-size: 18px;
    /* position: fixed;
    top: 0; */
}

#setup h1 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: inherit;
}

#setup h2 {
    font-size: inherit;
    letter-spacing: -1px;
}


#setup .icon {
    font-size: 22px;
    margin: 5px;
}

.date {
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 21px;
    align-items: center;
    /* padding-top: 69px; */
}

.dateset {
    font-size: 18px;
}

article {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    gap: 1rem;
}

figure:nth-child(2) {
    margin-left: auto;
    text-align: right;
    /*left, right, center*/
}

.message {
    /*볼록한 느낌을 내고 싶음*/
    width: max-content;
    height: max-content;
    background-color: rgba(240, 240, 240, 0.9);
    /* box-shadow: 0px 0px 40px #101935; */
    box-shadow: inset 0px 0px 10px 5px rgb(122, 184, 247), 0 0 0 0 rgb(122, 184, 247);
    transition: all 1ms ease-in-out;
    display: flex;
    padding: 1rem 2rem;
    border-radius: 1rem;
    gap: 1.5rem
}

.message:hover {
    box-shadow: 0 0 10px 0 rgb(122, 184, 247), 0 0 10px 4px rgb(122, 184, 247);
}

.icon-heart {
    /*그라데이션 주고 싶음*/
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}

.message-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color);
}

.message-title {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: -2px;
    /*자간*/
}

.submessage {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -2px;
}

.messagecard {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(240, 240, 240, 0.6);
    border-radius: 2rem;
    box-shadow: 0px 0px 11px 5px rgb(122, 184, 247);
}

.cardtitle {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: -2px;
    gap: 1.5rem;
    padding: 0.5rem 2rem;
    color: var(--color);
}

.cardtitle h6 {
    font-size: inherit;
    font-weight: inherit;
}

.card-text {
    margin-left: auto;
    font-size: 23px;
    margin-bottom: 0px;
}

.card-img {
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    padding: 5px;
    aspect-ratio: 3/2;
}

.card-img img {
    width: 100%;
    object-fit: cover;
    border-radius: 2rem;
    padding: 0px 3px 3px;
    max-width: 100%;
    height: 100%;
}

/*secondpage*/

#secondpage {
    width: 100vw;
    height: 100vh;
}

.second_wrap{
    padding: 10rem 5rem 10rem 5rem;
}

.profile {
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    align-items: center;
    letter-spacing: 0.5rem;
    /* padding-top: 70px;
    padding-bottom: 70px; */
    background: linear-gradient(to bottom, var(--color), var(--backgroundcolor));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pf_wrap {
    display: flex;
    width: 1100px;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto ;
    margin-top: 100px;
}

.pf_inform {
    display: flex;
    width: 70%;
    margin: 0 auto;
    position: relative;
}

img {
    width: 100%;
    width: 450px;
    height: 590px;
    object-fit: cover;
}

.member {
    position: absolute;
    left: 0px;
    /* display: none; */
    display: flex;
}

.pf_img {
    margin-top: 50px;
    width: 450px;
    height: 590px;
}

.membername {
    width: 160px;
    font-weight: 400;
    margin-right: 100px;
    font-size: 14px;
    letter-spacing: 0.5rem;
    text-align: right;
}

.membername p {
    margin-bottom: 10px;
}

.pf_name {
    margin: 10px;
    /* text-align: left; */
    align-self: flex-end;
    /*자식 스스로 제어*/
    justify-self: flex-end;
}

.pf_name p {
    margin-bottom: 10px;
    margin-left: 40px;
    font-size: 18px;
}

.pf_bg {
    position: absolute;
    width: 450px;
    height: 590px;
    background-color: rgb(187, 187, 187);
    left: -50px;
    z-index: -1;
    opacity: 0.3;
}

#thirdpage {
    width: 100vw;
    height: 100vh;
}

.third_wrap{
    padding: 10rem 5rem 10rem 5rem;
}

.discography {
    position: relative;
    text-align: center;
    font-size: 40px;
    background: linear-gradient(to bottom, var(--color), var(--backgroundcolor));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.5rem;
}

.album {
    display: flex;
    flex-wrap: nowrap;
    width: 1160px;
    height: auto;
    overflow: hidden;
    margin-top: 100px;
    position: relative;
}

.album_art{
    width: 32%;
    display: flex;
    flex-direction: column;
    /* justify-items: center;
    align-items: center; */
}

.ab_img img{
    width: 344px;
    height: 344px;
}

.ab_txt{
    padding: 10px;
    width: 344px;
}

.ab_txt p{
    position: relative;
    width: 100%;
    font-size: 11pt;
    /* padding-right: 70px; */
    left: 10px;
    font-weight: 600;
}

.ab_txt span{
    position: absolute;
    font-weight: normal;
    right: 20px;
    font-size: 10pt;
    top: 0;
}

#fourthpage {
    width: 100vw;
    height: 100vh;
}

.fourth_wrap{
    padding: 10rem 5rem 10rem 5rem;
}

.video {
    position: relative;
    text-align: center;
    font-size: 40px;
    background: linear-gradient(to bottom, var(--color), var(--backgroundcolor));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.5rem;
}

