*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
figure{
    width: 128px;
    height: 128px;
    border-radius: 128px;
    overflow: hidden;
}
img{
    width: 100%;
    height:100%;
}