<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
<body>
    <section  data-aos-anchor-placement="top-top">
        <figure data-aos="fade-up">
            <img src="gallery/1.jpg" alt="image">
        </figure>
        <div data-aos="flip-right" id="data" class="content" data-idol="개예쁘네">
            <h2 data-aos="flip-right">hi!</h2>
            yujin pretty
        </div>
    </section>

    <section  data-aos-anchor-placement="top-bottom">
        <figure data-aos="fade-left" >
            <img src="gallery/2.jpg" alt="image">
        </figure>
        <div data-aos="fade-up"  class="content">
            <h2 data-aos="fade-down" >hi!</h2>
            yujin pretty
        </div>
    </section>

    <section  data-aos-anchor-placement="top-center">
        <figure data-aos="fade-left">
            <img src="gallery/3.jpg" alt="image">
        </figure>
        <div data-aos="fade-up" class="content">
            <h2 data-aos="fade-down">hi!</h2>
            yujin pretty
        </div>
    </section>

    <section  data-aos-anchor-placement="top-bottom">
        <figure data-aos="fade-up" >
            <img src="gallery/4.jpg" alt="image">
        </figure>
        <div data-aos="fade-down" class="content">
            <h2 data-aos="fade-down" >hi!</h2>
            yujin pretty
        </div>
    </section>
    <script src="script.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 2000,
            delay: 500
        });
      </script>
</body>
</html>