*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*내가원하는사이즈를넣었을때입력이된다*/
}
.container{/*class컨테이너를 찾습니다=이름이 달려있는 태그를 html에서 찾는다 무슨 일을 하는지 적음 flex의 기본적인 성향은 가로로 나열*/
    display: flex;
    flex-wrap: wrap; /*flex의 기본 성향(가로)를 세로로 변경*/
}
figure{
    flex: 1 1 calc(100%/2); /*한줄에 (n%/n)개 표시*/
    aspect-ratio: 1/1; /*이미지의 비율을 1:1로 맞춤*/
    display: flex;
    align-items: center;
    overflow: hidden;

}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (min-width: 1024px){
    figure{
        flex: 1 1 calc(100%/3);
        aspect-ratio: 3/2;
    }
    figure:nth-child(2){
        flex: 1 1 calc((100%/3)*2);
    }
}
@media screen and (min-width: 1280px){
    figure{
        flex: 1 1 calc(100%/4);
        aspect-ratio: 4/3;
    }
    figure:nth-child(2){
        flex: 3 1 calc((100%/4)*2);
    }
}
@media screen and (min-width: 1440px){
    figure{
        flex: 1 1 calc(100%/5);
        aspect-ratio: 21/9;
    }
    figure:nth-child(2){
        flex: 3 1 calc((100%/5)*3);
    }
    figure:nth-child(n+4){
        aspect-ratio: 4/3;
    }
}