*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #title {
    /* opacity: 0; 투명도 > 안 보이지만 html에서 자리는 차지하고 있음
    display: none; /*자리도 안 차지함 }*/


#title span{
    opacity: 0;
    transform: scale(2);
    display: inline-block;
}

.reveal{
    animation: reveal 1s forwards linear;
}

@keyframes reveal{
0%{
    opacity: 0;
    transform: scale(2);
}
50%{
    transform: scale(3);
}
100%{
    opacity: 1;
    transform: scale(1);
}
}